---
---

@import "{{ site.theme }}";

body {
    color: #292929;
}


code.highlighter-rouge {
    background: #f2f2f3;
    border-radius: 3px;
    padding: 0px 5px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    border: 1px solid #ccc;
}

pre {
    padding-bottom: 1em;
}

h1, h2, h3 {
    position: relative;
    cursor: pointer;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover,
h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus {
    outline: none;
}

h1:hover:before, h2:hover:before, h3:hover:before,
h1 a:focus:before, h2 a:focus:before, h3 a:focus:before {
    content: '🖇️';
    position: absolute;
    left: -1.2em;
    padding-right: 0.2em;
}

blockquote {
    border-left: 4px solid #90e0ff;
    margin: 0;
    padding: 16px 60px 1px 20px;
    font-style: normal;
    background: #fafafa;
    font-size: 0.85em;
    border-radius: 4px 12px 12px 4px;
    margin-bottom: 20px;
}

img + em {
    color: #727272;
}

ul > li > ul {
    margin-bottom: 0;
    padding-inline-start: 20px;
}
